// Cores

$brand-blue: #0073ce;
$brand-light-blue: #00a5f0;
$brand-green-ligth: #00d7d7;
$brand-yellow: #ffc800;

// Escalas de Cinza
$grau-600: #33303e;
$grau-500: #4e4b59;
$grau-400: #5f5c6b;
$grau-300: #7a7786;
$grau-200: #c6c5ce;
$grau-100: #f1f0f5;


// Fontes